.card-showing {
  display: none;
}

.card-hidden {
  display: none;
}

.row {
  background-color: bg-secondary;
  color: text-white;
}
.card-hidden {
  display: none;
} 
/* 
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
} */

.btn {
  margin: 7px;
}

